:root {
	--prim-background: #1b1b1b;
	--sec-background: #2e2e2e;
	--accent: #fcf96a;
	--back-font: #797979;

	--padding: 20px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: var(--prim-background);
	margin: 0;
	color: white;
}

#wrapper {
	width: 100vw;
	height: 100vh;

	padding: var(--padding);
	box-sizing: border-box;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: var(--padding);
}

.data-element {
	background: var(--sec-background);
	border-radius: 10px;
	padding: var(--padding);
}

.data-name {
	color: var(--back-font);
	font-size: 2rem;
	margin-bottom: 0.3rem;
}

.data {
	color: var(--accent);
	font-size: 3rem;
}
